.container {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

.item {
  background: #00BBDD;
  color: #FFFFFF;
  margin: 10px;
  padding: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}

.pos-1  { order: 1;  }
.pos-2  { order: 10; }
.pos-3  { order: 11; }
.pos-4  { order: 7;  }
.pos-5  { order: 16; }
.pos-6  { order: 6;  }
.pos-7  { order: 3;  }
.pos-8  { order: 5;  }
.pos-9  { order: 13; }
.pos-10 { order: 2;  }
.pos-11 { order: 12; }
.pos-12 { order: 9;  }
.pos-13 { order: 4;  }
.pos-14 { order: 8;  }
.pos-15 { order: 15; }
.pos-16 { order: 14; }